<div class="p-5 bg-white rounded-lg shadow">

<%= form_with model: [ current_user, @group, @entity ] do |form| %>

  <div class="mb-3">
    <%= form.label :name, class: "text-lg font-medium" %>
    <%= form.text_field :name, class: "w-full p-2 rounded-lg" %>
  </div>
  <div class="mb-3">
    <%= form.label :amount, class: "text-lg font-medium" %>
    <%= form.number_field :amount, class: "w-full p-2 rounded-lg" %>
  </div>

<%= form.submit class: "p-2 rounded-lg bg-blue-500 text-white font-medium hover:bg-blue-600" %>
<% end %>
<%= link_to "Back", user_group_path(current_user, @group ), class: "text-lg font-medium" %>
</div>