
<section>
  <h4 class="bg-dark text-center text-white pb-2">Add new Transaction</h4>
  <div class="container-fluid mt-3">
<%= form_with model: @entity, url: user_group_entities_path(user: current_user, group: @group) do |form| %>

  <div class="field">
    <%= form.text_field :name, class: "rounded-0", hide_label: true, placeholder: "Transaction Name" %>
  </div>
  <div class="field">
    <%= form.number_field :amount, class:"rounded-0", hide_label: true, placeholder: '$' %>
  </div>
  <div class="field">
    <%= form.collection_select :group_id, @groups, :id, :name, class:"rounded-0", hide_label: true%>
  </div>
   <div class="field font-light mb-3 d-flex justify-content-center mt-5 gap-3">
    <%= form.label :Photo , class: 'text-light '%>
    <%= form.select :icon, [['Cars', 'car.jpg'], ['Food', 'kasha.jpg'],
                           ['Clothes', 'dress.png'], ['Sweets', 'chocolate.png'], ['Game', 'game.png'],
                           ['Skin care', 'locion.png'], ['Toys', 'kidsedu.jpg'], ['Shopping', 'tufli.png'],
                           ['Bag', 'bag.png'], ['Shoes', 'boots.jpg'], ['flower', 'flower.png'],
                           ['Safety', 'mask.png'], ['Hero', 'superhero.png'], ['Dance', 'puante.png']], autofocus: true %>
  </div>

<%= form.submit class: "actions" %>
<% end %>

</div>